:root {
    --var-color-light: #e8eed0;
    --var-color-dark: #4a512e;
    --var-color-link: rgb(64, 101, 41);
    --var-color-link-hover: rgb(43, 49, 42);
    --var-border-color: #eaeaea;
}
a:link, a:visited {
    text-decoration: underline;
    color: var(--var-color-link);
}
a:hover {
    text-decoration: none;
    color: var(--var-color-link-hover);
}
li {
    margin-bottom: 1em;
}
/* Header styles */
.site-title {
    letter-spacing: normal;
    font-weight: 400;
}
.site-header {
    background-color: var(--var-color-dark);
    color: var(--var-color-light);
    padding: 2rem 0 1rem 0;
}
.site-header a:link, .site-header a:visited {
    color: var(--var-color-light);
    text-decoration: none;
}
.site-header a:hover {
    color: #fff;
    text-decoration: underline;
}
.logo {
    border-radius: 50%;
}
/* Site navigation */
@media screen and (max-width: 600px) {
    .site-nav {
        background-color: #222;
        border: none;
    }
    .site-nav .menu-icon > svg {
        fill: var(--var-color-light);
    }
    .site-nav input:checked ~ .trigger {
        background-color: #222;
    }
}
/* Footer styles */
.site-footer {
    background-color: var(--var-color-dark);
    color: var(--var-color-light);
    padding: 2rem;
    border-radius: 5px;
}

.footer-col-wrapper {
    color: var(--var-color-light);
}
.site-footer a.btn {
    color: var(--var-color-light);
    border: 3px solid var(--var-color-light);
    background-color: transparent;
}
.site-footer a.btn:hover {
    color: var(--var-color-light);
    background-color: #000;
}
/* Basic layout styles */
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 100%;
    margin: 1rem 0;
}
@media screen and (min-width: 768px) {
    .col {
        flex: 1;
        margin: 1rem;
    }
}
.box {
    padding: 20px;
    background-color: var(--var-color-light);
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-row {
    flex-direction: row;
}

/* Button styles */
a.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: var(--var-color-dark);
    border: 3px solid var(--var-color-dark);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
a.btn:hover {
    background-color: var(--var-color-light);
    color: var(--var-color-dark);
    text-decoration: underline;
}

/* Post list styles */
ul.post-list li {
    padding: 2rem 0;
    border-bottom: 1px solid var(--var-border-color);
}

/* Related posts */
.related-posts {
    padding-top: 2rem;
    margin: 4rem 0 0 0;
    border-top: 1px solid var(--var-border-color);
}
